<h1> Here are your Ingredients !! </h1>
<div id = "ingredients"></div>
<form id = "add" action="ingredients/add" method="Post">
  	Name: <input type="text" name="name"/>
  	Price: <input type="text" name="price">
  	<input type="submit" value="Add">
</form>

<ul>
<script type="text/javascript" src="javascripts/Ingred.js"></script>