body, head {
	font-family: 'Robot', sans-serif;
	max-width: 1024px;
	margin: 0 auto;
}

.col1, .col2 {
	float: left;
	position: relative;
	margin: 1%;
}

.col1 {
	width: 70%;
}

.col2 {
	width: 25%;
}

#add-form {
	position: relative;
	float: left;
	width: 80%;
	padding: 1em;
	background-color: #CCC;
}

.field {
	float: left;
	width: 90%;
	height: 3em;
	margin: 0.25em;
	padding: 0.25em;
}

.submit, #userID {
	float: left;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0.25em;
	vertical-align: middle;
}

.submit {
	width: 25%;
	height: 2em;
}

.trashButton {
	position: absolute;
	bottom: 0.25em;
	left: 0.25em;
}

#userID {
	margin-top: 1em;
	float: right;
}

.twot {
	position: relative;
	float: left;
	width: 80%;
	margin: 1em 0;
	padding: 1em;
	background-color: #CCC;
	font-size: 1.25em;
	height: 3em;
}

.twot-m {
	float: left;
	position: absolute;
	top: 0.25em;
	left: 0.25em;
	font-weight: 300;
}

.twot-a {
	float: right;
	position: absolute;
	bottom: 0.25em;
	right: 0.25em;
	font-size: 1em;
	font-weight: 700;
}

.high {
	background-color: #a732ee;
}

.logButton {
	position: relative;
	float: left;
	width: 50%;
	margin: 1em 25%;
	background-color: #CCC;
	height: 2em;
	font-size: 1.5em;
	font-weight: 200;
}

.userButton {
	width: 80%;
	margin: 0.2em 10%;
	position: relative;
	float: left;
	background-color: #CCC;
	height: 2em;
	font-size: 1.5em;
	font-weight: 200;
}

