<h1 id="loginTitle">Login to Twoter!</h1>
<form id='createUser' action='createUser' method='POST'>
	Username: <input type='text' name='username'> <br>
	<input id='login' type='submit' value='Log in'>
</form>