<div class = "login">
<h3>Welcome to Angry Twotter</h3>
<h5>Please Log in</h5>
	<form id="login" action="addUser" method="POST">
		<input id = "userName" type = "text" name = "name">
	</form>
	<button class = "submit" type="submit" form="login" value="Submit">Login</button>
</div>