<h1 id="loginTitle">Welcome to Twoter!</h1>
<h2>Add Username</h2>
<form id='newUser' action='newUser' method='POST'>
	<input type='text' name='username'> <br>
	<input class = 'button' type='submit' value='login'>
</form>